.title{
    color: crimson;
}
.text{
    color: aquamarine;
}
.head{
    font-size: larger;
    display: inline-flex;
    width: 100%;
    height: 10%;
    background-color: rgb(37, 36, 36);
    
}
.trending{
    display: inline-flex;
    margin-left: 19%;
    margin-top: 1.5%;
}
.image{
    width: 100%;
    height: auto;
}
.mp4{
    position: absolute;
    left: 27%;
    margin-top: 97%;
    width: 50%;
}